.glow() {
  background: @glowColor;
  border-radius: 50%;
  content: '';
  filter: blur(4rem);
  height: 120%;
  left: -10%;
  position: absolute;
  top: -10%;
  width: 120%;
  z-index: -1;
}

body > main > article#home {
  display: grid;
  grid-auto-rows: max-content;
  grid-auto-flow: dense;
  row-gap: 2rem;
  padding: 2rem;
  z-index: 0;
  > em {
    display: block;
    max-width: 10rem;
    margin: 0 auto;
    position: relative;
    &::before {
      .glow();
    }
    img {
      position: relative;
      margin: -1rem 0 0;
      max-width: 14rem;
    }
  }
  > section#hero {
    max-width: 40rem;
    margin: auto;
    h2 {
      font-size: 2rem;
      text-align: center;
      span {
        white-space: nowrap;
      }
    }
    p#copy {
      font-size: 1.1rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }
  }
  > ul {
    margin: 0;
    li {
      margin-bottom: 1rem;
      &:before {
        font-family: Icons;
        font-size: 1.6rem;
        vertical-align: middle;
        line-height: 1.4rem;
        text-align: left;
        margin-left: -2rem;
      }
    }
    &:nth-of-type(1) {
      li:nth-of-type(1):before {
        content: '\f191';
      }
      li:nth-of-type(2):before {
        content: '\e627';
      }
      li:nth-of-type(3):before {
        content: '\e429';
      }
      li:nth-of-type(4):before {
        content: '\f6ef';
      }
    }
    &:nth-of-type(2) {
      li:nth-of-type(1):before {
        content: '\ead3';
      }
      li:nth-of-type(2):before {
        content: '\eb5a';
      }
      li:nth-of-type(3):before {
        content: '\f84d';
      }
      li:nth-of-type(4):before {
        content: '\f720';
      }
    }
  }
  > p > a {
    display: block;
    font-size: 1.4rem;
    color: @text2Color;
    font-weight: 800;
    background: @back2Color;
    border: 1px solid @borderColor;
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
    white-space: nowrap;
    width: 16rem;
    margin: -1rem auto;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      border-color: @accentColor;
    }
    &.start {
      background: @accentColor;
      color: @backColor;
    }
  }
  h1,
  h2,
  pre,
  .table {
    margin-top: 0;
    height: fit-content;
  }
  h2 {
    font-size: 1.8rem;
  }
  em,
  em a {
    color: @accentColor;
    font-style: normal;
    font-weight: 800;
  }
  pre {
    font-size: 0.94rem;
    box-shadow: @shadow;
  }
  img {
    margin: 0 0 2rem;
  }
  .table {
    box-shadow: @shadow;
  }
  > section#friends {
    text-align: center;
    div {
      display: inline-block;
      margin: 1.5rem;
      width: 6rem;
      a {
        text-decoration: none;
      }
      img {
        margin: 0.5rem auto 0;
        height: 6rem;
        max-width: 6rem;
        display: block;
      }
    }
  }
  > section#sponsors,
  > section#users {
    text-align: center;
    img {
      border-radius: 50%;
      margin: 0;
    }
  }
}

@media (min-width: 56rem) {
  body > main > article#home {
    grid-template-columns: repeat(6, 1fr);
    padding: 4rem 8rem;
    column-gap: 4rem;
    row-gap: 3rem;
    > em {
      grid-column-end: span 2;
      max-width: 16rem;
    }
    > section,
    > pre,
    > img,
    > .table {
      grid-column-end: span 3;
    }
    > pre,
    > img,
    > .table {
      margin-top: 0.5rem;
    }
    > section:nth-of-type(2n + 3) {
      grid-column-start: 4;
    }
    > section:nth-of-type(2n + 4) {
      text-align: right;
    }
    > section#hero {
      max-width: unset;
      margin: unset;
      grid-column-end: span 4;
      h2 {
        text-align: left;
      }
    }
    > section#friends {
      grid-column-end: span 6;
    }
    > section#sponsors {
      grid-column-start: 1;
    }
    > section#users {
      grid-column-start: 4;
    }
    ul {
      grid-column-end: span 3;
    }
    > hr {
      grid-column-end: span 6;
    }
    > p {
      grid-column-end: span 2;
      > a {
        width: unset;
        position: relative;
      }
    }
  }
}
