@font-face {
  font-family: Inter;
  src: url(/fonts/inter.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Inconsolata;
  src: url(/fonts/inconsolata.woff2) format('woff2');
  font-display: swap;
}
// \f191 %ef%86%91
// \e627 %ee%98%a7
// \e429 %ee%90%a9
// \f6ef %ef%9b%af
// \ead3 %ee%ab%93
// \eb5a %ee%ad%9a
// \f84d %ef%a1%8d
// \f720 %ef%9c%a0
// https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,300,0,0&text=%ef%86%91%ee%98%a7%ee%90%a9%ef%9b%af%ee%ab%93%ee%ad%9a%ef%a1%8d%ef%9c%a0
@font-face {
  font-family: Icons;
  font-weight: 200;
  src: url(/fonts/icons.woff2) format('woff2');
}
@font-face {
  font-family: Shantell;
  src: url(/fonts/shantell.woff2) format('woff2');
  font-display: swap;
}

html {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  letter-spacing: -0.01rem;
  line-height: 1.8rem;
}

code {
  font-family: Inconsolata, menlo, monospace;
  font-size: 1.15em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter;
  margin: 3rem 0 1rem;
  font-weight: 800 !important;
  color: @text2Color;
  clear: both;
  a {
    color: inherit;
    font-weight: inherit !important;
  }
}
h1 {
  font-size: 2.4rem;
  margin-top: 1rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}
.s7 h6 {
  font-size: 1.1rem;
}
.s8 h6 {
  font-size: 1rem;
}

p {
  margin: 1rem 0;
  clear: both;
}

p code,
article ul code {
  background: @borderColor;
  padding: 0.05em 0.25em;
  border-radius: 0.25rem;
  text-decoration-color: transparent;
}

.table {
  margin: 1rem 0 2rem;
  overflow: auto;
  table {
    &.fixed {
      table-layout: fixed;
    }
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      line-height: 1.6rem;
      padding: 0.25rem 0.5rem;
      vertical-align: top;
      &.right {
        text-align: right;
      }
      & > code::after {
        content: '\00a0';
        font-family:
          Inter,
          -apple-system,
          BlinkMacSystemFont,
          sans-serif;
        font-size: 1rem;
      }
    }
    p {
      margin: 0;
    }
    th {
      font-weight: 800;
      text-align: left;
    }
  }
}

iframe {
  margin: 1rem 0 2rem;
  width: 100%;
  height: 24rem;
}
